@page
@model ProyectoG58.App.Presentacion.Pages.Clientes.DetailsModel
@{
}

<h2>Datos Detallados de Cliente @Model.cliente.identificacion @Model.cliente.nombre</h2>
<div>
    ID: @Model.cliente.id
</div>
<div>
    IDENTIFICACIÓN: @Model.cliente.identificacion
</div>
<div>
    NOMBRES: @Model.cliente.nombre
</div>

<a asp-page="./List" class="btn btn-default">Volver a la Lista de Clientes.. </a>
