@page
@model ProyectoG58.App.Presentacion.DetailsModelProd
@{
    string est= "";

     @if (Model.producto.estado.Equals("A"))
    {
        est ="Activo";
    }else{
        est = "inactivo";
    }
}
<div class="row mb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header bg-dark"><h3 class="text-center font-weight-light my-4 text-primary">Detalle del Producto</h3></div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td style="width:200px"><b>ID:</b></td>
                                <td>@Model.producto.id</td>
                            </tr>
                            <tr>
                                <td><b>NOMBRE:</b></td>
                                <td>@Model.producto.nombre</td>
                            </tr>
                            <tr>
                                <td><b>LOTE:</b></td>
                                <td>@Model.producto.lote</td>
                            </tr>
                            <tr>
                                <td><b>FECHA VENCIMIENTO:</b></td>
                                <td>@Model.producto.fechaVencim</td>
                            </tr>
                            <tr>
                                <td><b>CANTIDAD:</b></td>
                                <td>@Model.producto.cantidad</td>
                            </tr>
                            <tr>
                                <td><b>PRECIO:</b></td>
                                <td>@Model.producto.precio</td>
                            </tr>
                            <tr>
                                <td><b>PRESENTACION:</b></td>
                                <td>@Model.producto.presentacion</td>
                            </tr>
                            <tr>
                                <td><b>ESTADO:</b></td>
                                <td>@est</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer text-center py-3">
                        <a asp-page="./ListProd">
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"  title="Volver">
                                <span > Volver </span>
                            </button>
                        </a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
