@page
@model ProyectoG58.App.Presentacion.ListProdModel
@{
}
<h1>Listado de Medicamentos</h1>
<div class="row mb-3">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Lote</th>
                    <th>Fecha Vencimiento</th>
                    <th>cantidad</th>
                    <th>Presentacion</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            @foreach (var producto in Model.productos)
            {
                <tr>
                    <td>@producto.id</td>
                    <td>@producto.nombre</td>
                    <td>@producto.lote</td>
                    <td>@producto.fechaVencim</td>
                    <td>@producto.cantidad</td>
                    <td>@producto.presentacion</td>
                    <td>@producto.estado</td>
                    <td style="width:200px">
                        <a class="btn btn-success btn-xs" asp-page="./List" asp-route-productoId="@producto.id">
                          <i class="fas fa-info-circle"></i>Detalle
                        </a>
                    </td>
                    <td style="width:200px">
                        <a class="btn btn-primary btn-xs" asp-page="./List" asp-route-productoId="@producto.id">
                          <i class="fas fa-address-book" ></i>Editar
                        </a>
                    </td>
                    <td style="width:200px">
                        <a class="btn btn-danger btn-xs" asp-page="./List" asp-route-productoId="@producto.id">
                           <i class="fas fa-exclamation-triangle"></i>Eliminar
                        </a>
                    </td>  
                </tr>
            }
        </table>
    </div>
</div>
<a asp-page=".\List" class="btn btn-primary">Adicionar un Producto</a>